body {
  color: #24292e;
  font: 300 calc((12.8px + 0.375vw))/1.5 Roboto, sans-serif;
  margin: 0;
}

.container {
  margin: calc((0px + 2.5vw));
}

.row {
  display: flex;
  flex: 1 1 auto;
  margin: 0 calc((0px + 2.5vw) / -2);
}

.row + .row {
  margin-top: calc((0px + 2.5vw));
}

.col {
  display: flex;
  flex: 1 1 auto;
  margin: 0 calc((0px + 2.5vw) / 2);
  width: 100%;
}

.item {
  background: #209cee;
  color: white;
  border-radius: calc((1.6px + 0.75vw));
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  height: calc((50.4px + 6.75vw));
  justify-content: center;
}
